*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    font-family: Arial, sans-serif;
    background:url(image.html/landscape3.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    height: 400px;
    height: 500px;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h1 {
    color: cornsilk;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(239, 229, 250) ;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

register:hover{
    background-color: blue;
}

#an{
    color: white;
}